*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 32, 32);
    color: white;
}

textarea, input[type=text]{
    background-color: rgb(32, 32, 32);
    color: white;
}

textarea{
    border: 1px solid rgba(255, 255, 255, 0.5);
}

textarea:focus{
    outline: 0;
    border-color: white;
}

input[type=text]{
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

input[type=text]:focus{
    outline: 0;
    border-bottom: 1px solid white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 5%;
    text-align: center;
}

#content{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.shortField{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 50%;
}

.longField{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0;
    align-items: center;
}

.longField textarea{
    width: 100%;
    height: 20vh;
}

#download{
    width: 50%;
    margin-top: 10px;
    height: 30px;
    background-color: rgb(32, 32, 32);
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#download:hover{
    border: 1px solid white;
    color: white;
}

#download:active{
    scale: 0.95;
}

@media only screen and (max-width: 500px) {
    #content{
        width: 100%;
    }

    .shortField{
        width: 90%;
    }

    .longField{
        width: 90%;
    }

    #download{
        width: 90%;
    }

    #title{
        font-size: 5vw;
    }
}